rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // DEVELOPMENT RULES - Allow all authenticated users to read and write
    // TODO: Restrict these rules in production environment
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}